@tailwind base;
@tailwind components;
@tailwind utilities;

.toggle-checkbox:checked {
  right: 0;
  border-color: #000;
  background-color: #000;
  background-color: gray;
}

.toggle-checkbox:checked + .toggle-label {
  background-color: darkturquoise;
}

.toggle-checkbox {
  right: 0;
  left: auto;
  transform: translateX(0);
  transition: all 0.3s ease-in-out;
}

.toggle-checkbox:checked {
  left: 0;
  right: auto;
  transform: translateX(calc(100% - 100%));
}

.toggle-label {
  transition: background-color 0.3s ease-in-out;
}
